/* Gul färg hexvärde
#ffff00

Mörkgrå färg hexvärde (till siffrorna och brödtext)
#636363

Bakgrund ljusgrå 
#e8e8e8 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
  
html{
    scroll-behavior: smooth;
}

body{
    background-color:#e8e8e8;
    cursor: default;
    margin: 0;
}

h1
{
    font-size: 3vw;
    margin: 10pt 0pt 0pt 10pt;
}
h2
{
    font-size: 1.3vw;
    margin: 10pt 0pt 0pt 10pt;
}
h3
{
    font-size: 1.1vw;
    margin: 10pt 3pt 0pt 10pt;
}
p
{
    font-size: 1vw;
}

h1, h3, p, h2{
    color: #636363;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

#titleBox
{
    grid-area: titleBox;
    width: 90%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

#yellowBox
{
    grid-area: yellowBox;
    border-radius: 20pt;
    background-color: #ffff00;
    max-width: 33%;
    margin-left: auto;
    margin-right: 7%;
    margin-bottom: 5vh;
    height: fit-content;
    padding: 20pt;
}

.fadeIn
{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation 
{
    0% {
        opacity: 0;
    }
    30%
    {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@-moz-keyframes fadeInAnimation 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@-webkit-keyframes fadeInAnimation 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#firstColumn
{
    grid-area: firstColumn;
}

#secondColumn
{
    grid-area: secondColumn;
}

#yellowBoxFull
{
    grid-area: yellowBoxFull;
    border-radius: 20pt;
    background-color: #ffff00;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    height: fit-content;
    padding: 20pt;
    display: grid;
    column-gap: 15pt;
    grid-row: 1fr;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "firstColumn secondColumn";
}

#splashpage
{
    display: grid;
    grid-column: 1% 1fr 1%;
    grid-row: 1fr min-content;
    grid-template-areas:
        ". titleBox ."
        ". yellowBox .";
    background-color: #636363;
    min-height: 100vh;
    height: fit-content;
    background-image: url("Malmstens2346_grupp-min.jpg");
    background-size: cover;
    background-position-x: center;
}

#splashpageReadMore
{
    row-gap: 10vh;
    display: grid;
    grid-column: 1% 1fr 1%;
    grid-row: 1fr min-content;
    grid-template-areas:
        ". titleBox ."
        ". yellowBoxFull .";
    background-color: #e8e8e8;
    height: fit-content;
    background-image: url("Malmstens2346_grupp-min.jpg");
    background-size: cover;
    background-position-x: center;
}

#splashpageProjects
{
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "titleBox";
    background-color: #e8e8e8;
    height: 100vh;
    background-image: url("Malmstens2346_grupp-min.jpg");
    background-size: cover;
    background-position-x: center;
}

.border
{
    padding: 0 5% 5vh 5%;
}

.elementHeader
{
    max-width: 100%;
    margin:0;
    grid-area: elementHeader;
}
.elementName
{
    grid-area: elementName;
    margin-top: 2pt;
}
.elementImage
{
    margin: 0;
    grid-area: elementImage;
    width: 100%;
    object-fit: scale-down;
}

.elementCreator
{
    
    grid-area: elementCreator;
}

.element
{
    -webkit-box-shadow: -4px 2px 15px 5px rgba(116, 116, 116, 0.32); 
    box-shadow: -4px 2px 15px 5px rgba(116, 116, 116, 0.32);
    box-sizing: border-box;
    height: 100%;
    padding: 10pt;
    display: grid;
    background-color: #e8e8e8;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "elementHeader elementHeader elementImage elementImage"
        "elementCreator elementCreator elementImage elementImage"
        "elementName elementName elementImage elementImage";
    text-decoration: none;
    color: black;
}

.element:visited
{
    color: #636363;
}

.element.indexButton:hover
{
    background-color: rgb(252, 208, 200);
}

#indexing
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

#indexNav
{
   margin: 20pt ;
}

#first{
    grid-area: first;
}
#second{
    grid-area: second;
}
#third{
    grid-area: third;
}
#fourth{
    grid-area: fourth;
}
#fifth{
    grid-area: fifth;
}
#sixth{
    grid-area: sixth;
}
#seventh{
    grid-area: seventh;
}
#eighth{
    grid-area: eighth;
}
#ninth{
    grid-area: ninth;
}
#tenth{
    grid-area: tenth;
}
#eleventh{
    grid-area: eleventh;
}
#twelfth{
    grid-area: twelfth;
}
#thirteenth{
    grid-area: thirteenth;
}
#fourteenth{
    grid-area: fourteenth;
}
#fifteenth{
    grid-area: fifteenth;
}
#sixteenth{
    grid-area: sixteenth;
}

#indexElements
{
    height: 100%;
    row-gap: 5pt;
    column-gap: 5pt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first second third fourth"
        "fifth sixth seventh eighth"
        "ninth tenth eleventh twelfth"
        "thirteenth fourteenth fifteenth sixteenth";
}

.projectTitle
{
    font-style: italic;
}

.projectHeader
{
    margin-left: 2vw;
    grid-area: projectHeader;
    margin-top: 0;

}

.projectAuthor
{
    margin-top: 5vh;
    margin-left: 2vw;
    grid-area: projectAuthor;

}
.projectPicture
{
    position: relative;
    margin-left: 2vw;
    grid-area: projectPicture;
}

.projectPicture > img
{
    width: 100%;
    object-fit: cover;
}

.projectPicture > a
{
    font-size: 24pt;
}

.projectDescription
{
    grid-area: projectDescription;
    margin-top: 0;
    font-size: 1.2vw;
}

.extraElement
{
    grid-area: extraElement;
}

.projectIndex
{
    max-width: 100%;
    margin-top: 5vh;
    grid-area: projectIndex;
}
.projectDetails
{
    font-size: 1.2vw;
    grid-area: projectDetails;
    align-self: end;
    color: #636363;
    text-decoration: none;
}

.projectDetails > a
{
    color: #636363;
}

.projectDetails > a:visited
{
    color: #636363;
}

.indexButton
{
    grid-area: indexButton;
    font-size: 1.2vw;
    text-decoration: none;
    color: #636363;
    justify-self: start;
    margin-left: 2vw;
    margin-top: 20pt;
}

.indexButton > p
{
    font-size: 1.5vw;
}
.indexButton:hover
{
    cursor: pointer;
    color: black;
    transition: color 50ms ease-in;
    grid-area: indexButton;
    font-size: 36pt;
    justify-self: start;
}

.readMorePageButton
{
    text-decoration: none;
    color: #636363;
}
.readMorePageButton:hover
{
    cursor: pointer;
    color: black;
    transition: color 50ms ease-in;
}

.startPageButton
{
    text-decoration: none;
    color: #636363;
}
.startPageButton:hover
{
    cursor: pointer;
    color: black;
    transition: color 50ms ease-in;
}

.projectPage
{
    box-sizing: border-box;
    column-gap: 3%;
    row-gap: 1%;
    display: grid;
    grid-template-rows: min-content min-content repeat(3, 1fr) min-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        " projectAuthor    projectAuthor      . projectIndex         "
        " projectHeader    projectHeader       . projectIndex         "
        " projectPicture   projectPicture      projectDescription   . "
        " projectPicture   projectPicture      projectDescription   ."
        " projectPicture   projectPicture      projectDescription  projectDetails "
        " indexButton      indexButton         .  projectDetails ";
}

.slide
{
    display: none;
}

.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.8);
}

.fade
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade
{
    from {opacity: .4}
    to {opacity: 1}
}


#thanks
{
    margin-top: 20pt;
    margin-bottom: 10vh;
}

#thanksHeadline
{
    margin-left: 20pt;
    grid-area: thanksHeadline;
}

#firstColumnThanks
{
    grid-area: firstColumnThanks;
}

#secondColumnThanks
{
    grid-area: secondColumnThanks;
}

#thanks > .border
{
    display: grid;
    grid-row: min-content 1fr;
    grid-column: 1fr 1fr;
    column-gap: 20pt;
    grid-template-areas:
        "thanksHeadline thanksHeadline"
        "firstColumnThanks secondColumnThanks";
}

#thanks > .border > div > p
{
    margin-left: 20pt;
}

#thanks > .border > div > p > a
{
    color: #636363;
}

#thanks > .border > div > p > a:visited
{
    color: #636363;
}

#thanks > .border > div > p > a:hover
{
    color: black;
}

@media only screen and (max-width: 1200px){

h1
{
    font-size: 42pt;
    margin: 10pt 0pt 0pt 10pt;
}
h2
{
    font-size: 28pt;
    margin: 10pt 0pt 0pt 10pt;
}
h3
{
    font-size: 20pt;
    margin: 10pt 0pt 0pt 10pt;
}
p
{
    font-size: 14pt;
}

.indexButton > p
{
    font-size: 24pt;
}
.indexButton{
    margin-left: 0pt;
}

#yellowBox
{
    grid-area: yellowBox;
    border-radius: 20pt;
    background-color: #ffff00;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    height: fit-content;
    padding: 20pt;
}


.elementCreator, .elementName
{
    margin-bottom: 10pt;
    font-size: 28pt;
}

.element
{
    -webkit-box-shadow: -4px 2px 15px 5px rgba(116, 116, 116, 0.32); 
    box-shadow: -4px 2px 15px 5px rgba(116, 116, 116, 0.32);
    box-sizing: border-box;
    height: 100%;
    padding: 10pt;
    display: grid;
    background-color: #e8e8e8;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content repeat(3, min-content);
    grid-template-areas:
        "elementHeader"
        "elementCreator"
        "elementName"
        "elementImage"
        "elementImage";
    text-decoration: none;
    color: black;
    }
    
#indexElements
{
    height: 100%;
    row-gap: 5pt;
    column-gap: 5pt;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first second"
        "third fourth"
        "fifth sixth"
        "seventh eighth"
        "ninth tenth"
        "eleventh twelfth"
        "thirteenth fourteenth"
        "fifteenth sixteenth";
}
  

.projectHeader
{
    margin-left: 0pt;
    grid-area: projectHeader;

}

.projectAuthor
{
    margin-left: 0pt;
    grid-area: projectAuthor;

}
.projectPicture
{
    margin-left: 0pt;
    grid-area: projectPicture;
    width: 100%;
    object-fit: cover;
}

.projectDescription
{
    grid-area: projectDescription;
    margin-top: 0;
    font-size: 14pt;
}

.projectDetails
{
    font-size: 14pt;
}

.projectPage
{
    box-sizing: border-box;
    column-gap: 3%;
    row-gap: 1%;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(10, min-content);
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
        ". projectIndex  ."
        ". projectAuthor  ."
        ". projectHeader  ."
        ". projectPicture  ."
        ". projectPicture   ."
        ". projectPicture   ."
        ". projectDescription ."
        ". projectDescription ."
        ". projectDetails ."
        ". indexButton   .";
}

#yellowBoxFull
{
    grid-area: yellowBoxFull;
    width: 90%;
    display: grid;
    column-gap: 15pt;
    grid-row: 1fr 1fr;
    grid-column: 1fr;
    grid-template-areas:
        "firstColumn"
        "secondColumn";
}

.prev, .next
{
    top: 25vh;
}

@media only screen and (max-width: 610px){

    h1
    {
        font-size: 24pt;
        margin: 10pt 0pt 0pt 10pt;
    }
    h2
    {
        font-size: 18pt;
        margin: 10pt 0pt 0pt 10pt;
    }
    h3
    {
        font-size: 16pt;
        margin: 10pt 0pt 0pt 10pt;
    }
    p
    {
        font-size: 12pt;
    }
    
    .indexButton > p
    {
        font-size: 14pt;
    }
    .indexButton{
        margin-left: 0pt;
    }

    .projectDescription
    {
        grid-area: projectDescription;
        margin-top: 0;
        font-size: 12pt;
    }

.projectDetails
    {
        font-size: 12pt;
    }

    .elementCreator, .elementName, .elementImage
    {
        margin-left: 20pt;
        margin-bottom: 10pt;
        font-size: 32pt;
    }

    #indexNav
    {
        margin-left: auto;
        margin-right: auto;
    }

    .elementImage
    {
        width: 90%;
    }

    #indexElements
    {
        height: 100%;
        row-gap: 5pt;
        column-gap: 5pt;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, min-content);
        grid-template-areas:
        "first second"
        "third fourth"
        "fifth sixth"
        "seventh eighth"
        "ninth tenth"
        "eleventh twelfth"
        "thirteenth fourteenth"
        "fifteenth sixteenth";
    }
    #yellowBoxFull
    {
        grid-area: yellowBoxFull;
        width: 80%;
        display: grid;
        column-gap: 15pt;
        grid-row: 1fr 1fr;
        grid-column: 1fr;
        grid-template-areas:
            "firstColumn"
            "secondColumn";
    }

    #thanks > .border
    {
        display: grid;
        grid-row: min-content min-content min-content;
        grid-column: 1fr;
        grid-template-areas:
            "thanksHeadline"
            "firstColumnThanks" 
            "secondColumnThanks";
    }
}
}
