/* Gul färg hexvärde
#ffff00

Mörkgrå färg hexvärde (till siffrorna och brödtext)
#636363

Bakgrund ljusgrå 
#e8e8e8 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
  
html{
    scroll-behavior: smooth;
}

body{
    background-color:#e8e8e8;
    cursor: default;
    margin: 0;
}

h1
{
    font-size: 48pt;
    margin: 10pt 0pt;
}
h2
{
    font-size: 32pt;
    margin: 10pt 0pt;
}
h3
{
    font-size: 24pt;
    margin: 10pt 0;
}

h1, h3, p, h2{
    color: #636363;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

#pageTitle
{
    position: absolute;
    z-index: 2;
    width: 520;
    margin-top: 10vh;
}

#backgroundImage
{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

#titleBox
{
    /* to be changed */
    width: 100%;
}

#yellowBox
{
    border-radius: 20pt;
    background-color: #ffff00;
    margin: 10pt;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
}

#stickyWrapper
{
    /* margin-top: 100vh; */
    /* position: absolute;
    z-index: 2; */
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.border
{
    padding: 10pt;
}

.elementHeader
{
    margin:0;
    grid-area: elementHeader;
    font-size: 128pt;
}
.elementName
{
    grid-area: elementName;
}
.elementImage
{
    margin: 0;
    grid-area: elementImage;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elementCreator
{
    grid-area: elementCreator;
}

.element
{
    box-sizing: border-box;
    height: 100%;
    padding: 15pt;
    display: grid;
    background-color: #e8e8e8;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-areas:
        "elementHeader elementHeader elementImage elementImage"
        "elementCreator elementCreator elementImage elementImage"
        "elementName elementName elementImage elementImage";
    text-decoration: none;
    color: black;
}

.element:visited
{
    color: black
}

.element.indexButton:hover
{
    background-color: rgb(252, 208, 200);
}

#indexing
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    background-color: #dddcdc;
}

#indexNav
{
    margin: 10pt 0;
}

#first{
    grid-area: first;
}
#second{
    grid-area: second;
}
#third{
    grid-area: third;
}
#fourth{
    grid-area: fourth;
}
#fifth{
    grid-area: fifth;
}
#sixth{
    grid-area: sixth;
}
#seventh{
    grid-area: seventh;
}
#eighth{
    grid-area: eighth;
}
#nineth{
    grid-area: nineth;
}
#tenth{
    grid-area: tenth;
}
#eleventh{
    grid-area: eleventh;
}
#twelfth{
    grid-area: twelfth;
}
#thirteenth{
    grid-area: thirteenth;
}
#fourteenth{
    grid-area: fourteenth;
}
#fifteenth{
    grid-area: fifteenth;
}
#sixteenth{
    grid-area: sixteenth;
}

#indexElements
{
    height: 100%;
    row-gap: 5pt;
    column-gap: 5pt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first second third fourth"
        "fifth sixth seventh eighth"
        "nineth tenth eleventh twelfth"
        "thirteenth fourteenth fifteenth sixteenth";
}


.projectTitle
{
    font-style: italic;
}

.projectHeader
{
    grid-area: projectHeader;
}

.projectAuthor
{
    grid-area: projectAuthor;

}
.projectPicture
{
    grid-area: projectPicture;
    width: 100%;
    max-height: 100%;
}
.projectDescription
{
    grid-area: projectDescription;
    font-size: 18pt;
    margin-top: 0;
}

.extraElement
{
    grid-area: extraElement;
}

.projectIndex
{
    grid-area: projectIndex;
}
.projectDetails
{
    grid-area: projectDetails;
    align-self: end;
    font-weight: bold;
}

.indexButton
{
    grid-area: indexButton;
    font-size: 36pt;
    text-decoration: none;
    color: gray;
    justify-self: start;
}
.indexButton:hover
{
    cursor: pointer;
    color: black;
    transition: color 50ms ease-in;
    grid-area: indexButton;
    font-size: 36pt;
    justify-self: start;
}

.projectPage
{
    box-sizing: border-box;
    column-gap: 3%;
    row-gap: 1%;
    display: grid;
    grid-template-rows: min-content min-content repeat(3, 1fr) min-content;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-areas:
        ". projectAuthor    projectAuthor      . projectIndex         ."
        ". projectHeader    projectHeader       . projectIndex         ."
        ". projectPicture   projectPicture      projectDescription   projectDescription ."
        ". projectPicture   projectPicture      projectDescription  projectDescription ."
        ". projectPicture   projectPicture      projectDescription  projectDescription ."
        ". indexButton      indexButton         .  projectDetails .";
}

#thanks
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1400px){
 
    
#indexElements
{
    height: 100%;
    row-gap: 5pt;
    column-gap: 5pt;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first second"
        "third fourth"
        "fifth sixth"
        "seventh eighth"
        "nineth tenth"
        "eleventh twelfth"
        "thirteenth fourteenth"
        "fifteenth sixteenth";
}
    
.projectPage
{
    box-sizing: border-box;
    column-gap: 3%;
    row-gap: 1%;
    display: grid;
    width: 100%;
    grid-template-rows: min-content min-content min-content repeat(3, 1fr) repeat(4, min-content);
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
        ". projectIndex  ."
        ". projectAuthor  ."
        ". projectHeader   ."
        ". projectPicture   ."
        ". projectPicture    ."
        ". projectPicture    ."
        ". projectDescription  ."
        ". projectDescription  ."
        ". projectDetails  ."
        ". indexButton    .";
}

}